/* Header section */
.header_wrapper {
    display: flex;
    flex-direction: row;
    height: 21rem;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    background-image: linear-gradient(rgba(0, 0, 139, 0.5), rgba(0, 0, 139, 0.5)), url('images/newheader.png');
    background-position-y: bottom;
    border-radius: 20px;
}
.header_contents {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 2rem;
}

/* Text */
a {
    color: white;
    text-decoration: none;
}
    a:hover {
        color: #aee1ff;
    }
h3 {
    margin-top: 4.5rem;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5.5rem;
    letter-spacing: -4px;
    color: white;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    color: white;
    margin-bottom: 2rem;
    font-weight: 400;
}


/* Images and icons */
.socials_icons {
    width: 17px;
    height: 17px;
}
.artist_profile_pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-right: 2.5rem;
}

/* Artist information */
.table_and_box {
    display: flex;
    flex-direction: row;
}

.info_box {
    display: flex;
    background-color: rgba(37, 37, 37, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    width: 35rem;
    margin-left: 3rem;
}

.info_box_text {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 1.5rem;
}

.text_control {
    margin: 0.5rem 0 0.2rem 0;
}

.info_box_buttons {
    margin-left: 4rem;
    margin-top: 3rem;
}

/* Buttons */
.button_wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16rem;
}
.edit_button,
.delete_button {
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
    .edit_button:hover,
    .delete_button:hover {
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
    }
.btn-warning {
    color: white;
    background-color: #d9a300;
}
.btn-danger {
    background-color: #b11f2d;
}
.btn-warning:hover {
    background-color: #ffc107;
}
.btn-danger:hover {
    background-color: #f86775;
}
.fixed-width {
    width: 150px;
}

/* Table section */
.table-hover > tbody > tr:hover {
    --bs-table-accent-bg: #010622;
    color: #aee1ff;
}
.table-container {
    max-height: 26.5rem;
    overflow-y: auto;
    width: 65rem;
    border-radius: 20px;
}
.table {
    opacity: 80%;
    width: 65rem;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}
.table td:first-child, .table th:first-child {
    padding-left: 45px; /* Padding mellom første kolonne og container kanten */
}
th {

    padding: 10px;
    line-height: 2.5;
    font-weight: 600;
    font-size: large;
}
.table tbody tr {
    line-height: 3.5;
}
.table-bordered {
    border: none;
}
.table td, .table th {
    border: none;
}
.table thead th:first-child {
    border-top-left-radius: 10px;
}
.table thead th:last-child {
    border-top-right-radius: 10px;
}
.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
