@page "/Artist"

<PageTitle>RMD | Artist Page</PageTitle>

<div class="header_wrapper">

	<div class="header_contents">
		<img src="https://pbs.twimg.com/profile_images/484646219168636928/x1DqJCOb_400x400.jpeg"
			 alt="Artist Press Picture"
			 class="artist_profile_pic" />
		
		<h3>Rob Mayth</h3>
	</div>
</div>


<div class="table_and_box">
	<div class="table-container">
		<table class="table table-bordered table-dark table-striped table-hover">
			<thead class="thead-light">
				<tr>
					<th>
						ID
					</th>

					<th>
						Tittel
					</th>

					<th>
						Lengde
					</th>

					<th>
						Extended
					</th>
				</tr>

			</thead>

			<tbody>
				<tr>
					<td>1</td>
					<td>Barbie Girl (Club Mix)</td>
					<td>04:04</td>
					<td>true</td>
				</tr>

				<tr>
					<td>2</td>
					<td>iPower</td>
					<td>02:34</td>
					<td>false</td>
				</tr>

				<tr>
					<td>3</td>
					<td>Another Night (Extended Mix)</td>
					<td>03:59</td>
					<td>true</td>
				</tr>

				<tr>
					<td>4</td>
					<td>Another Night 2k12 (Club Mix)</td>
					<td>04:23</td>
					<td>true</td>
				</tr>

				<tr>
					<td>5</td>
					<td>Can I Get A Witness (Remix)</td>
					<td>03:20</td>
					<td>false</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Can I Get A Witness (Remix)</td>
					<td>03:20</td>
					<td>false</td>
				</tr>

			</tbody>
		</table>
	</div>
	

	<div class="info_box">


		<div class="info_box_text">

			<h4><b>Artistinformasjon</b></h4>

			<div class="text_control">
				<p><b>🇩🇪 Tyskland</b></p>
			</div>
			<div class="text_control">
				<p><b>🙌Hands Up</b></p>
			</div>
			<div class="text_control">
				<a href="https://www.facebook.com/rob_mayth">
					<img src="images/fb_icon.png" class="socials_icons" />
					Facebook
				</a>
				<br>
				<br>
			</div>
			<div class="text_control">
				<a href="https://www.soundcloud/rob_mayth">
					<img src="images/sc_icon.png" class="socials_icons" />
					Soundcloud
				</a>
				<br>
				<br>
			</div>
			<div class="text_control">
				<a href="https://www.discogs/rob_mayth">
					<img src="images/discogs_icon.png" class="socials_icons" />
					Discogs
				</a>
			</div>
			
			

			
		</div>

		<div class="info_box_buttons">

			<div class="button_wrapper">
				<div class="edit_button">
					<button type="button" onclick="alert('Rediger artist her!')" class="btn btn-warning fixed-width">
						<i class="bi bi-pencil"></i> Rediger artist
					</button>
				</div>

				<div class="delete_button">
					<button type="button" onclick="alert('Artist slettet!')" class="btn btn-danger fixed-width">
						<i class="bi bi-trash3"></i> Fjern artist
					</button>
				</div>
			</div>
		</div>

	</div>

</div>



@code {

}
