@page "/Artists"

<PageTitle>RMD | Artists</PageTitle>

<div class="search-button-wrapper">

	<div class="input-group mb-3 searchbar">
		<input type="text" class="form-control search" placeholder="Søk etter artist" aria-label="Søk etter artist">
		<span class="input-group-text" id="basic-addon2">
			<i class="bi bi-search"></i>
		</span>
	</div>

	@if(isSelected == true)
	{
		<div class="button_wrapper">
			<div class="edit_button">
				<button type="button" onclick="alert('Rediger artist her!')" class="btn btn-warning fixed-width">
					<i class="bi bi-pencil"></i> Rediger artist
				</button>
			</div>

			<div class="delete_button">
				<button type="button" onclick="alert('Artist slettet!')" class="btn btn-danger fixed-width">
					<i class="bi bi-trash3"></i> Fjern artist
				</button>
			</div>
		</div>
	}
	

</div>


<table class="table table-bordered table-dark table-striped table-hover">
	<thead class="thead-light">
	</thead>

	<tbody>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://pbs.twimg.com/profile_images/484646219168636928/x1DqJCOb_400x400.jpeg"
				alt="Artist Press Picture"
				class="artist_profile_pic"/>
				 Rob Mayth
			</td>
		</tr>


		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://cdns-images.dzcdn.net/images/artist/d51ba713d1e8c59b207098f72d507c95/500x500-000000-80-0-0.jpg"
					 alt="Artist Press Picture"
					 class="artist_profile_pic"/>
				 DJ Gollum
			</td>
		
		</tr>

		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<i class="bi bi-person h1"></i>
				 Lazerzf!ne
				
			</td>
		</tr>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://i.discogs.com/iAnRNTibXDHeYA7i84YqNs0IwhWYavuwH4Wn3l_75fs/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTk0NDI3/NS0xMjEzMjc2NzI1/LmpwZWc.jpeg"
					 alt="Artist Press Picture"
					 class="artist_profile_pic" />
				 De-Grees
			</td>
		</tr>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkC50R7C_GuJWgG8GpMQie5IoSN8Mf4MMtqA&s"
					 alt="Artist Press Picture"
					 class="artist_profile_pic" />
				 Cascada
			</td>
		</tr>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://is1-ssl.mzstatic.com/image/thumb/Music123/v4/67/f4/c6/67f4c650-3ece-bfdc-3a77-c98cd0f3aa46/pr_source.png/725x725bb.webp"
					 alt="Artist Press Picture"
					 class="artist_profile_pic" />
				 DJ Splash
			</td>
		</tr>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<i class="bi bi-person h1"></i>
				 Freestylerz</td>
		</tr>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://i.scdn.co/image/ab6761610000e5eb2a70dbf635d7e988179a8c9d"
					 alt="Artist Press Picture"
					 class="artist_profile_pic" />
				 AJP
			</td>
		</tr>
		<tr @onclick="() => isSelected = !isSelected">
			<td>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1YcMII6szNxTWcxjfX45vagA6aJ772PLMkA&s"
					 alt="Artist Press Picture"
					 class="artist_profile_pic" />
				 Topmodelz
			</td>
		</tr>
		<tr>
		</tr>
	</tbody>
</table>

<nav aria-label="Page navigation">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Tilbake">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Tilbake</span>
			</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Videre">
				<span class="sr-only">Videre</span>
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>


@code {
	private bool isSelected = false;
}
