@page "/Artist" 

<PageTitle>RMD | Artist Page</PageTitle>

 
<div class="header_wrapper">

	<img src="https://pbs.twimg.com/profile_images/484646219168636928/x1DqJCOb_400x400.jpeg"
		 alt="Artist Press Picture"
		 class="artist_profile_pic" />

	<div class="text_container">
		<h3>Rob Mayth</h3>
		<p>
			🇩🇪 Tyskland 
			<br />

			<a href="https://www.facebook.com/rob_mayth">
				<img src="images/fb_icon.png" class="socials_icons" />
				Facebook
			</a>

			<br />
			<a href="https://www.soundcloud/rob_mayth">
				<img src="images/sc_icon.png" class="socials_icons" />
				Soundcloud
			</a>
		</p>
	</div>

	<div class="button_wrapper">
		<div class="edit_button">
			<button type="button" onclick="alert('Rediger artist her!')" class="btn btn-warning fixed-width">
				<i class="bi bi-pencil"></i> Rediger artist
			</button>
		</div>

		<div class="delete_button">
			<button type="button" onclick="alert('Artist slettet!')" class="btn btn-danger fixed-width">
				<i class="bi bi-trash3"></i> Fjern artist
			</button>
		</div>
	</div>
</div>



 <table class="table table-bordered table-dark table-striped table-hover">
	<caption>Oversikt over registrerte låter av denne artisten</caption>
	<thead class="thead-light">
		 <tr>
			<th>
				Tittel
			</th>

			<th>
				Remixartist
			</th>

			<th>
				Artist
			</th>

			<th>
				Spilt i episode 
			</th>
		 </tr>
		 
	 </thead>

	<tbody>
		<tr>
			<td>Barbie Girl</td>
			<td></td>
			<td>Rob Mayth</td>
			<td>2</td>
		</tr>

		<tr>
			<td>iPower</td>
			<td></td>
			<td>Rob Mayth</td>
			<td>5</td>
		</tr>

		<tr>
			<td>Another Night 2k12</td>
			<td>Sound Artz</td>
			<td>Rob Mayth</td>
			<td></td>
		</tr>
	</tbody>
 </table>



@code {

}