.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-top: 2rem;
}

.left_container {
    display: flex;
    flex-direction: column;
}

.cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 2rem;

}

p {
    font-size: medium;
    color: white;
    font-weight: normal;
}

h3{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
}

h2 {
    color: white;
  
}


a:hover {
    color: #43C000;
}

.data_card {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 20px;
    width: 31rem;
    height: 12rem;
}

.green_plus {
    margin-right: 13px;
    color: #43C000;
}

.newly_added{
    display: flex;
    flex-direction: row;

}

.graphs_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 20px;
    width: 31rem;
    height: 15rem;
}

.card_loader{
    display: flex;
    flex-direction: column;
}

.card_loader_text{
    margin-top:3rem;
    padding:0;
}

.load_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 20rem;
    border-radius: 25px;
    background-color: rgba(37, 37, 37, 0.5);
}

.load_contents {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 3rem;
}

.load_spinner {
    max-width: 64px;
    max-height: 64px;
    width: 64px;
    height: 64px;
    justify-self: center;
    align-self: center;
}

.load_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    align-self: center;
    padding-top: 6rem;
    font-weight: 400;
    font-size: 1.25rem;
}


.table-hover > tbody > tr:hover {
    --bs-table-accent-bg: #010622;
    color: #aee1ff;
}

.table_container {
    max-height: 18.5rem;
    overflow-y: auto;
    width: 65rem;
    border-radius: 20px;
}

.table {
    opacity: 80%;
    width: 65rem;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}

.table td:first-child, .table th:first-child {
    padding-left: 45px;
}

th {
    padding: 10px;
    line-height: 2.0;
    font-weight: 600;
    font-size: large;
}

.table tbody tr {
    line-height: 2.0;
}

.table-bordered {
    border: none;
}

.table td, .table th {
    border: none;
}

.table thead th:first-child {
    border-top-left-radius: 2px;
}

.table thead th:last-child {
    border-top-right-radius: 2px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

.right_container {
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
 }




.resources_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 50rem;
    max-height: 50rem;
    border-radius: 20px;
    background-color: rgba(37, 37, 37, 0.5);
    padding-bottom: 2rem;
}

.resource_item {
    margin-top: 0.5rem;
    margin-left: 3rem;
}

h4 {
    margin: 3rem;
    font-size: x-large;
    color: white;
}

h5 {
    margin-left: 3rem;
    font-size: large;
    font-weight: 400;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: lightgray;
    font-size: small;
}

@media (max-width: 412px) {
    h4 {
        margin: 3rem;
        font-size: large;
        color: white;
    }

    h5 {
        margin-left: 3rem;
        font-size: medium;
        font-weight: 400;
        color: white;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
        color: lightgray;
        font-size: small;
    }


    .main_container{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .left_container{
        display: flex;
        flex-direction: column;
    }

    .cards_container{
        display: flex;
        flex-direction: column;
        
    }

    .data_card{
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .graphs_container{
        display: flex;
        flex-direction: column;
    }

    .chart{
        margin-bottom: 1rem;
        width: 100%;
        height: 20rem;
    }

    .table-container {
        width: 65%;
        margin-bottom: 5rem;
    }

    .table {
        max-width: 65%;
        width: auto;
    }

    .hide-mobile {
        display: none !important;
    }

    .right_container{
        display: flex;
        flex-direction: column;
    }

    .resources_container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 23rem;
        height: auto;
        margin-left: 3rem;
        align-items: start;
    }
}

