@page "/Mixtapes"

<PageTitle>RMD | Mixtapes</PageTitle>

<h3>Publiserte mixtapes</h3>

<div class="yt-container">
	<iframe 
		width="560"
		height="315"
		src="https://www.youtube.com/embed/videoseries?list=PLfLfA2XjV_OhD6mndVVr6doptJik1n8cs"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
		referrerpolicy="strict-origin-when-cross-origin" 
		allowfullscreen>
	</iframe>
</div>

@code {

}

