@page "/AddSong"

<PageTitle>RMD | Add a new song</PageTitle>

<h3>Legg til en ny låt i databasen</h3>

<form id="reg_song_form">

	<div id="reg_song_part_a">
		<div id="form-group">
			<label>Tittel</label>
			<input type="text" class="form-control" />
		</div>
	
		<div class="form-group">
			<label for="artist">Artist</label>
			<select name="artist" id="artist" class="form-control">
				<option value="rob_mayth">Rob Mayth</option>
				<option value="lazerzf!ne">Lazerzf!ne</option>
				<option value="tube_tonixc_&_dj_shandar">Tube Tonic & DJ Shandar</option>
				<option value="masterblaster">Master Blaster</option>
			</select>
		</div>

		<div id="form-group">
			<label>Remixartist</label>
			<select name="remixartist" id="remixartist" class="form-control">
				<option value="rob_mayth">Rob Mayth</option>
				<option value="lazerzf!ne">Lazerzf!ne</option>
				<option value="tube_tonixc_&_dj_shandar">Tube Tonic & DJ Shandar</option>
				<option value="masterblaster">Master Blaster</option>
			</select>
		</div>

		<div id="form-group">
			<label>Lengde (MMSS)</label>
			<input type="text" class="form-control" />
		</div>


		<div id="form-group">
			<label>Sjanger</label>
			<select name="sjanger" id="sjanger" class="form-control">
				<option value="hands_up">Hands Up</option>
				<option value="hard_trance">Hard Trance</option>
				<option value="hardstyle">Hardstyle</option>
				<option value="trance">Trance</option>
			</select>
		</div>
	</div>
	
	<div id="reg_song_part_b">


		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			<label class="form-check-label" for="flexSwitchCheckDefault">Extended Mix</label>
			<label class="col-form-label-sm">Låten er DJ-vennlig og har intro/outro for mixing.</label>
		</div>

		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			<label class="form-check-label" for="flexSwitchCheckDefault">Radio Mix</label>
		</div>

		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			<label class="form-check-label" for="flexSwitchCheckDefault">Tidligere spilt</label>
		</div>

		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			<label class="form-check-label" for="flexSwitchCheckDefault">Lagret i Samling</label>
		</div>
		
		<div id="form-group">
			<label>Spilt i episode no.</label>
			<input type="number" class="form-control" />
		</div>
	</div>

</form>

<div class="save_button">
	<button type="button" onclick="alert('Artist lagret!')" class="btn btn-success">
		<i class="bi bi-floppy-fill"></i> Lagre Artist
	</button>
</div>


@code {

}
