h3 {
    color: #b3b3b3;
}

/**Ytre skjema**/
#reg_song_form {
    display: flex;
    flex-direction: column;
    width: 15rem;
    justify-content: space-evenly;
    color: #b3b3b3;
}

/**Indre skjema - beholder for del a og b**/
#a_b_container{
    display: flex; 
    flex-direction: row;
    width: 40rem;
}


/**Del A**/
#reg_song_part_a {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-right: 7rem;
}

/**Del B**/
#reg_song_part_b {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 15rem;
}

/**Ymse pirk**/
.form-control {
    border-radius: 6px;
}

.save_button {
    margin-top: 35px;
}

.number_ticker {
    width: 4.5rem;
}

#form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.col-form-label-sm{
    font-size: x-small;
    display: flex;
    flex-direction: column;
}