@page "/AddArtist"

<PageTitle>RMD | Add new artist</PageTitle>

<h3>Legg til en ny artist i databasen</h3>

<form id="reg_artist_form">
	<div id="form-group">
		<label for="artistName">Navn</label>
		<input type="text" class="form-control"/>
	</div>

	<div id="form-group">
		<label for="artistNationality">Nasjonalitet</label>
		<input type="text" class="form-control" />
	</div>

	<div id="form-group">
		<label for="artistName">Sosiale medier</label>
		<input type="url" class="form-control" />
	</div>

	<div id="form-group">
		<label for="profilePicture">Profilbilde</label>
		<input type="url" class="form-control" />
	</div>
</form>

<div class="save_button">
	<button type="button" onclick="alert('Artist lagret!')" class="btn btn-success">
		<i class="bi bi-floppy-fill"></i> Lagre Artist
	</button>
</div>

@code {

}
