.main_container {
    display: flex;
    flex-direction: column;
}

.form_container {
    width: 40rem;
    height: 38rem;
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rmd-surface-glass);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.btn {
    width: 20rem;
    margin-top: 3rem;
}

h1 {
    color: var(--rmd-text);
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 3rem;
}

input{
    margin-bottom: 2rem;
}

.password_fields {
    display: flex;
    flex-direction: column;
/*    justify-content: center;
    align-items: start;*/
}

.form-control {
    width: 20rem;
}

.form_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
