@page "/Songs"

<PageTitle>RMD | Songs</PageTitle>

<h3>Liste over registrerte låter</h3>

<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" id="inclineCheckbox1" value="spilt">
	<label class="form-check-label">Avspilte låter</label>
</div>
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" id="inclineCheckbox1" value="lagret">
	<label class="form-check-label">Lagrede låter</label>
</div>


<table class="table table-bordered table-dark table-striped table-hover">
	<caption>Oversikt over alle registrerte låter i databasen</caption>
	<thead class="thead-light">
		<tr>
			<th>
				ID
			</th>

			<th>
				Tittel
			</th>

			<th>
				Artist
			</th>

			<th>
				Remixartist
			</th>

			<th>
				Lengde
			</th>

			<th>
				Sjanger
			</th>

			<th>
				Extended Mix
			</th>

			<th>
				Radio Mix
			</th>

			<th>
				Tidligere spilt
			</th>

			<th>
				Mixtape episode
			</th>

			<th>
				I samling
			</th>

			<th>
				Ønsket
			</th>
		</tr>

	</thead>

	<tbody>
		<tr>
			<td>1</td>
			<td>Barbie Girl (Extended Mix)</td>
			<td>Rob Mayth</td>
			<td>None</td>
			<td>06:44</td>
			<td>Hands Up</td>
			<td>True</td>
			<td>False</td>
			<td>True</td>
			<td>14</td>
			<td>True</td>
			<td>False</td>
		</tr>

		<tr>
			<td>2</td>
			<td>Milky Way (Teenagerz Remix)</td>
			<td>Solar Patrol</td>
			<td>Teenagerz</td>
			<td>05:38</td>
			<td>Hands Up</td>
			<td>False</td>
			<td>False</td>
			<td>False</td>
			<td>None</td>
			<td>False</td>
			<td>True</td>
		</tr>

		<tr>
			<td>3</td>
			<td>Heartbeat (Club Mix)</td>
			<td>DJ Manian</td>
			<td>DJ Gollum</td>
			<td>03:45</td>
			<td>Hands Up</td>
			<td>True</td>
			<td>False</td>
			<td>True</td>
			<td>None</td>
			<td>False</td>
			<td>False</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Forever Young (Extended Mix)</td>
			<td>Groove Coverage</td>
			<td>DJ Gollum</td>
			<td>06:12</td>
			<td>Hands Up</td>
			<td>False</td>
			<td>True</td>
			<td>False</td>
			<td>None</td>
			<td>True</td>
			<td>False</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Castles In The Sky (DJ Manian Remix)</td>
			<td>Ian Van Dahl</td>
			<td>DJ Manian</td>
			<td>05:20</td>
			<td>Hands Up</td>
			<td>True</td>
			<td>False</td>
			<td>True</td>
			<td>None</td>
			<td>True</td>
			<td>True</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Heaven (Cascada Remix)</td>
			<td>DJ Sammy</td>
			<td>Cascada</td>
			<td>03:35</td>
			<td>Hands Up</td>
			<td>False</td>
			<td>False</td>
			<td>True</td>
			<td>None</td>
			<td>False</td>
			<td>False</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Everytime We Touch (Club Mix)</td>
			<td>Cascada</td>
			<td>DJ Manian</td>
			<td>05:28</td>
			<td>Hands Up</td>
			<td>True</td>
			<td>True</td>
			<td>False</td>
			<td>None</td>
			<td>True</td>
			<td>False</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Reason (Original Mix)</td>
			<td>Nightcore</td>
			<td>Rob Mayth</td>
			<td>04:18</td>
			<td>Hands Up</td>
			<td>False</td>
			<td>True</td>
			<td>False</td>
			<td>None</td>
			<td>False</td>
			<td>True</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Bad Boy (Club Mix)</td>
			<td>Cascada</td>
			<td>Rob Mayth</td>
			<td>04:54</td>
			<td>Hands Up</td>
			<td>True</td>
			<td>False</td>
			<td>True</td>
			<td>None</td>
			<td>True</td>
			<td>False</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Through The Eyes Of A Child (Extended Mix)</td>
			<td>DJ Hixxy</td>
			<td>DJ Gollum</td>
			<td>06:01</td>
			<td>Hands Up</td>
			<td>False</td>
			<td>True</td>
			<td>False</td>
			<td>None</td>
			<td>False</td>
			<td>True</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Rave Heaven (Extended Mix)</td>
			<td>Master Blaster</td>
			<td>Rob Mayth</td>
			<td>05:47</td>
			<td>Hands Up</td>
			<td>True</td>
			<td>False</td>
			<td>True</td>
			<td>None</td>
			<td>True</td>
			<td>False</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Dancing In The Rain (Club Mix)</td>
			<td>DJ Splash</td>
			<td>Rocco & Bass-T</td>
			<td>04:26</td>
			<td>Hands Up</td>
			<td>False</td>
			<td>True</td>
			<td>False</td>
			<td>None</td>
			<td>False</td>
			<td>True</td>
		</tr>
	</tbody>
</table>

@code {

}
