.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /*background: #10172A;*/
    background-image: linear-gradient(#1f78d7, #25369B);
    /*  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;*/
}

.user_pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 7px;
}

.auth_state_container {
    margin-top: auto;
    margin-left: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    color: white;
}

p {
    color: white;
    margin:0;
}

.admin_title_container{
    display: flex;
    flex-direction: row;
}

.auth_text{
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    margin-left: 10px
}

.sidebar {
    background-image: linear-gradient(180deg, #212529 0%, #181818 70%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-row {
    background-image: linear-gradient(180deg, #181818 0%, #212529 70%);
    justify-content: flex-end;
    height: 5.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
