@inherits LayoutComponentBase

<PageTitle>RMD.GUI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/">
                <img class="logo" src="images/rejack_logo.png" width="200" height="25"/>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
