<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="images/rmd_logo.png" width="130" height="50"/>
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddArtist">
                <span class="oi oi-person" aria-hidden="true"></span> Registrer artist
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddSong">
                <span class="oi oi-pulse" aria-hidden="true"></span> Registrer låt
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Artists">
                <span class="oi oi-people" aria-hidden="true"></span> Artistarkiv
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Songs">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Låtarkiv
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Artist">
                <span class="oi oi-person" aria-hidden="true"></span> NB: Indv. prof.
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mixtapes">
                <span class="oi oi-headphones" aria-hidden="true"></span> Mixtapes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mixtapes">
                <span class="bi-arrow-down-up" aria-hidden="true"></span> Bootstrap test
            </NavLink>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
