.center_tabs {
	display: flex;
	justify-content: center;
}

.tab-container {
	display: flex;
	justify-content: center;
}

.nav-tabs {
	margin-top: 2rem;
	display: flex;
	width: 300px;
	border-bottom: none;
}

.nav-item{
	cursor: pointer;
}

a{
	color: var(--rmd-tab-text);
	border: none;
}

a:hover {
	color: var(--rmd-tab-hover-text);
	border: none;
}

.active-tab {
	background-color: var(--rmd-tab-active-bg);
	color: var(--rmd-tab-active-text);
	border: none;
	border-radius: 4px;
}

.active-tab:hover {
	color: var(--rmd-tab-active-text);
	border: none;
}

.tab-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

