
@*NEEDS BINDING TO A MODEL - COMPONENT DOES NOT WORK*@

<InputSelect name="genre" id="genre" class="form-control" TValue="string">
    <option value="" disabled selected>Sjanger</option>
    <option value="Hands Up" class="fw-bold">Hands Up</option>
    <option value="Hardstyle" class="fw-bold">Hardstyle</option>
    <option value="Hard Trance" class="fw-bold">Hard Trance</option>
    <option value="Trance" class="fw-bold">Trance</option>
    <option value="Happy Hardcore" class="fw-bold">Happy Hardcore</option>
    <option value="Jumpstyle" class="fw-bold">Jumpstyle</option>
    <option value="Hardcore" class="fw-bold">Hardcore</option>
    <option value="Progressive House">Progressive House</option>
    <option value="Bass House">Bass House</option>
    <option value="House">House</option>
    <option value="Future House">Future House</option>
    <option value="Big Room">Big Room</option>
    <option value="Drum & Bass">Drum & Bass</option>
    <option value="Eurodance">Eurodance</option>
    <option value="EDM">EDM</option>
</InputSelect>

@code {
}