.center_tabs{
	display: flex;
	justify-content: center;
}

.tab-container{
	display: flex;
	justify-content: center;
}

.nav-tabs{
	margin-top: 2rem;
	display: flex;
	width: 300px;
	border-bottom: none;
}

.nav-item{
	cursor: pointer;
}

a{
	color: white;
}

a:hover {
	color: #25369B;
	border: none;
}

.active-tab:hover {
	color: #0075FF;
	border: none;
}

.tab-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

h3{
	color: red;
}

.active-tab {
	background-color: #fff;
	color: #0075FF; 
	border: none;
	border-radius: 4px;
}