@page "/Register"

<div class="center_tabs">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link @(selectedTab == 0 ? "active-tab" : "")" @onclick="() => SelectTab(0)">
				Register artist
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link @(selectedTab == 1 ? "active-tab" : "")" @onclick="() => SelectTab(1)">
				Registrer låt
			</a>
		</li>
	</ul>
</div>


<div class="tab-content">
	@if (selectedTab == 0)
	{
		<RegisterArtist />
	}
	else if (selectedTab == 1)
	{
		<RegisterSong />
	}
</div>

@code{
	private int selectedTab = 0;

	void SelectTab(int index)
	{
		selectedTab = index;
	}
}