.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*backdrop-filter: blur(4px);*/
    background: rgba(1, 2, 3, 0.6);
}

.container_parent {
    display: flex;
    justify-content: center;
}

.bi-pencil-square {
    background: -webkit-linear-gradient(#FFFF, #fFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    padding-top: 1rem;
}

.rows_window {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-height: calc(2*2.75rem + .5rem);
    overflow-y: auto;
    padding-right: 8px
}

.select_row {
    display: flex;
    align-items: center
}

    .select_row .form-control, .select_row .btn, .add_button {
        height: 2.75rem
    }


.main_form_container {
    z-index: 1050;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42rem;
    max-height: 70rem;
    height: auto;
    /*background: radial-gradient(circle at 50% 50%, rgba(0, 120, 255, 0.7) 0%, rgba(0, 188, 212, 0.5) 0%, rgba(10, 54, 129, 0.2) 100%);*/
    background-image: linear-gradient(#1f78d7, #25369B);
    backdrop-filter: blur(4px);
    border-radius: 20px;
}

h3 {
    font-weight: 400;
    font-size: xx-large;
    justify-content: center;
    color: white;
}

label {
    color: white;
}


/**Indre skjema - beholder for del a og b**/
#a_b_container {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    width: 40rem;
}

input, select {
    width: 18rem;
}

/**Del A**/
#reg_song_part_a {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-right: 7rem;
    margin-top: 2rem;
}

/**Del B**/
#reg_song_part_b {
    display: flex;
    flex-direction: column;
    /*padding-top: 2rem;*/
    margin-top: 3.5rem;
    width: 15rem;
}

.number_ticker {
    width: 13rem;
}


/**Ymse pirk**/
.form-control {
    border-radius: 6px;
}

#form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.col-form-label-sm {
    font-size: x-small;
    display: flex;
    flex-direction: column;
}


.button_container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.btn {
    width: 11rem;
}

.btn-secondary {
    background-color: #1f78d7;
}

.cancel_button {
    margin-top: 2rem;
    margin-right: 2rem;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

    .cancel_button:hover {
        transform: scale(1.1);
        transform-origin: center;
    }


.save_button {
    margin-top: 2rem;
    margin-left: 2rem;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

    .save_button:hover {
        transform: scale(1.1);
        transform-origin: center;
    }



@media (max-width: 412px) {
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        /*max-width: 100%;
        height: auto;*/
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.5);
    }

    .container_parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* max-width: 100%;
        height: auto;*/
    }

    .bi-pencil-square {
        background: -webkit-linear-gradient(#2F82FF, #00E0FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
        max-width: 100%;
        height: auto;
    }

    .main_form_container {
        z-index: 1050;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        background: linear-gradient(0deg, rgba(28, 22, 5, 0.5) 0%, rgba(2, 43, 91, 0.5) 100%);
        backdrop-filter: blur(5px);
        border-radius: 20px;
    }


    h3 {
        font-weight: 400;
        font-size: xx-large;
        justify-content: center;
        color: white;
    }

    label {
        color: white;
    }


    /**Indre skjema - beholder for del a og b**/
    #a_b_container {
        display: flex;
        flex-direction: column;
        align-content: center;
        /*margin-left: 5rem;*/
        /*width: 40rem;*/
        max-width: 100%;
        height: auto;
    }

    input {
        width: 18rem;
        /*max-width: 100%;
        height: auto;*/
    }

    select {
        width: 18rem;
    }

    .select-wrapper {
        width: 18rem;
    }

    .input-select-wrapper {
        width: 18rem;
    }

    /**Del A**/
    #reg_song_part_a {
        display: flex;
        flex-direction: column;
        /*width: 15rem;*/
        margin-right: 7rem;
        margin-top: 2rem;
        max-width: 100%;
        height: auto;
    }

    /**Del B**/
    #reg_song_part_b {
        display: flex;
        flex-direction: column;
        /*padding-top: 2rem;*/
        margin-top: 1.5rem;
        /*width: 15rem;*/
        max-width: 100%;
        height: auto;
    }

    .number_ticker {
        width: 13rem;
    }


    /**Ymse pirk**/
    .form-control {
        border-radius: 6px;
    }

    #form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .col-form-label-sm {
        font-size: x-small;
        display: flex;
        flex-direction: column;
    }


    .button_container {
        /* display: flex;
        flex-direction: column;
        align-items: center;*/
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 19rem;
        max-width: 100%;
        height: auto;
    }

    .btn-secondary {
        background-color: #1f78d7;
        width: 19rem;
        max-width: 100%;
        height: auto;
    }


    /*.cancel_button {
        margin-top: 2rem;*/
    /* margin-right: 2rem;*/
    /* position: relative;*/
    /*display: inline-block;*/
    /*}*/

    .save_button {
        margin-top: 2rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
}
