.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: var(--rmd-backdrop);
    z-index: 1050;
}

.parent_container {
    display: flex;
    justify-content: center;
}

.main_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42rem;
    height: 40rem;
    background-image: var(--rmd-modal-bg-image);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.bi-exclamation-triangle {
    background: -webkit-linear-gradient(var(--rmd-modal-icon), var(--rmd-modal-icon));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
}

h3{
    font-size: 3rem;
    color: var(--rmd-text);
}

h4{
    font-size: 1.5rem;
    color: var(--rmd-text); 
}

.text_container{
    color: var(--rmd-text);
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.btn-secondary {
    border-radius: 10px;
    background-color: var(--rmd-modal-cancel-bg);
    width: 35rem;
}

.close_button {
    margin-top: 5rem;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

.close_button:hover {
    transform: scale(1.1);
    transform-origin: center;
}

@media (max-width: 412px) {
    |
    .parent_container {
        display: flex;
        justify-content: center;
        height: auto;
    }


    .main_container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35rem;
        /*background-color: rgba(37, 37, 37, 0.5);*/
        background: var(--rmd-modal-m-info-bg);
        background: var(--rmd-modal-m-info-bg);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .btn {
        width: 300px;
    }
}



