.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*backdrop-filter: blur(5px);*/
    background: rgba(1, 2, 3, 0.6);
}

.parent_container {
    display: flex;
    justify-content: center;
}

.main_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    margin-top: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42rem;
    height: 40rem;
    background-image: linear-gradient(#1f78d7, #25369B);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}

.bi-exclamation-triangle {
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    display: inline-block;
}

h3 {
    font-size: 3rem;
    color: white;
}

h4 {
    font-size: 1.5rem;
    color: white;
}

.text_container {
    color: white;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.button_container {
    display: flex;
    flex-direction: row;
}

.btn {
    width: 11rem;
}

.btn-secondary {
    background-color: #1f78d7;
}

.cancel_button {
    margin-top: 5rem;
    margin-right: 2rem;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

    .cancel_button:hover {
        transform: scale(1.1);
        transform-origin: center;
    }




.delete_button {
    margin-top: 5rem;
    margin-left: 2rem;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

    .delete_button:hover {
        transform: scale(1.1);
        transform-origin: center;
    }


@media (max-width: 412px) {
    |
    .parent_container {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }


    .main_container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40rem;
        /*background-color: rgba(37, 37, 37, 0.5);*/
        background: rgba(5, 5, 5, 0.5);
        background: linear-gradient(180deg, rgb(91, 0, 0, 0.50), rgb(125, 29, 29, 0.50));
        backdrop-filter: blur(5px);
        border-radius: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: -8rem;
    }

    .btn {
        width: 300px;
    }

    .button_container {
        margin-top: -3rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .delete_button {
        margin-left: 0;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
